{% extends 'base.html'%}
  {%block title%}Участники{%endblock%}

{%block content%}

{%if isAdmin == True %}
<div class="row">
  <div class="col-3">
    <div class="alert alert-info" role="alert">
      <a href="/add" style="text-decoration: none;"><center>Добавить участника</center></a>
    </div>
  </div>
  <div class="col-3">
    <div class="alert alert-info" role="alert">
      <a href="/delete-all" style="text-decoration: none;" onclick="return confirm('Вы точно хотите удалить всех?')"><center>Удалить всех</center></a>
    </div>
  </div>
</div>
{%endif%}
  <h1 >Участники</h1>
  <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" style="margin-bottom: 10px; width: 50%;" type="search" placeholder="Найди участника" aria-label="Search" id="search">
  </form>
  <ul id='students' class="list-group">
    {% for student  in students%}
      <li class="list-group-item"><a style='text-decoration: none;' href="/student?id={{student.id}}">{{student.first_name}} {{student.last_name}}</a></li>
    {% endfor %}
  </ul>

  <script src="static/search.js"></script>
{%endblock%}
