{% extends 'base.html'%}
  {%block title%}Участники{%endblock%}

{%block content%}
<div class="alert alert-info" role="alert" style="width: 18%;">
  <a href="/add" style="text-decoration: none;">Добавить участника</a>
</div>

  <h1 >Участники</h1>
  <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" style="margin-bottom: 10px; width: 50%;" type="search" placeholder="Найди участника" aria-label="Search" id="search">
  </form>
  <ul id='students' class="list-group">
    {% for student  in students%}
      <li class="list-group-item"><a style='text-decoration: none;' href="/student?id={{student.id}}">{{student.first_name}} {{student.last_name}}</a></li>
    {% endfor %}
  </ul>

  <script src="static/search.js"></script>
{%endblock%}
